img {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;

  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  -webkit-animation: slideIn 3.5s;
  animation: slideIn 3.5s;
  transition: 0.3s ease-in-out;
}

img:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  transform: scale(1.05);
}

@media only screen and (max-width: 900px) {
  img {
    height: 64px;
    transition: 0.3s ease-in-out;
  }
}
