@import url("https://use.typekit.net/qyy8cgs.css");

@font-face {
  font-family: "europa";
  src: url("https://use.typekit.net/qyy8cgs.css") format("opentype");
}

body {
  background-image: linear-gradient(90deg, #33bbff, #4dffc3);
  overflow-x: hidden;

  /* EXPERIMENTAL */
  image-rendering: optimizeSpeed;             /*                     */
  image-rendering: -moz-crisp-edges;          /* Firefox             */
  image-rendering: -o-crisp-edges;            /* Opera               */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pill {
  font-family: europa, Helvetica Neue, sans-serif;
  padding-top: 100px;
  text-align: center;
  font-style: normal;
  font-display: block;
  border-radius: 200px;
  background-color: #ffffff;
  width: 750px;
  height: 175px;
  padding: 5px;

  transition: 0.3s ease-in-out;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;

  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
       -o-user-select: none;
          user-select: none;

  z-index: 1000;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .pill {
    width: 550px;
    height: 100px;
    font-size: 0.7em;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.centered {
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.drop-shadow {
  transform: translate3d(0,0,0); /*CSS memes for Safari*/
  -webkit-filter: drop-shadow(0px 20px 50px #006bb3);
     -moz-filter: drop-shadow(0px 20px 50px #006bb3);
      -ms-filter: drop-shadow(0px 20px 50px #006bb3);
       -o-filter: drop-shadow(0px 20px 50px #006bb3);
          filter: drop-shadow(0px 20px 50px #006bb3);
}

.name {
  font-size: 7em;
  font-weight: 700;
  color: deepskyblue;
}
